{% extends "base.html" %}
{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock head_js %}
{% block content %}
    

    {% for m in messages %}
    <p class="message"><em>{{ m.author }}</em>: {{ m.text }}</p>    
    {% endfor %}

    <hr>
    
    <form action="{{username}}/add" method="POST">
        <input type="text" name="msg" placeholder="What's happening?"/>
        <input type="submit" value="Send"/>
    </form>

{% endblock content %}